/* Reset Css */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Main configuration */

:root {
  --font1: "Yaldevi", sans-serif;
  --font2: "Heebo", sans-serif;
  --font3: "Scheherazade New", serif;
  --fontligt: rgb(107, 154, 196);
  --rounded-border: 5px;
  --container-shadow: 5px 5px 10px rgba(0, 0, 0, 0.474);
  --section-padding: 10%;
}

body {
  background-color: #090909;
  color: white;
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}

section{
  box-sizing: border-box;
}

/* Header and nav */

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  max-height: 50px;
  overflow-y: hidden;
  transition: max-height 0.8s ease;
  z-index: 100;
}

header.displayed {
  max-height: 50vh;
}

.header-text {
  display: inline;
  text-align: center;
  padding-top: 5%;
  margin-bottom: 5%;
  font-family: var(--font3);
}
nav {
  width: 100%;
}
nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
nav ul li.nav-item {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  text-align: center;
  font-family: var(--font1);
}
nav a {
  display: block;
  width: 100%;
  padding: 17px 0px;
  text-align: center;
  transition: background-color 0.8s ease;
}
nav a:hover {
  background-color: rgba(0, 0, 0, 0.474);
  color: var(--fontligt);
}
.hamburger-container {
  width: 26px;
  height: 26px;
  display: block;
  position: absolute;
  left: 4px;
  top: 0px;
  cursor: pointer;
  z-index: 100;
  padding: 10px 15px;
}

.hamburger-icon,
.hamburger-icon::after,
.hamburger-icon:before {
  z-index: 10;
  width: 100%;
  height: 4px;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
}
.hamburger-icon {
  position: relative;
  top: 49%;
}
.hamburger-icon:before,
.hamburger-icon::after {
  content: "";
  position: absolute;
}
.hamburger-icon:before {
  top: 8px;
}
.hamburger-icon::after {
  top: -8px;
}

/* First Section -Welcome Section- */

/*
Fluid Font Info 
min-widht: 280px 17.5rem
max-widht: 820px 51.25rem
min-font-size: 1rem 
max-font-size: 2.7rem 
*/

section#welcome-section {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/pruebadiesmil.appspot.com/o/tyler-lastovich-h7B7Ez2yfQc-unsplash.jpg?alt=media&token=1ed3e49e-c1fa-481e-9f4c-34ff2943891c);
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
  font-size: clamp(1rem, 0.1185rem + 5.037vw, 2.7rem);
}

section#welcome-section div.welcome-container {
  margin-bottom: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

section#welcome-section h2 {
  margin-top: 8px;
  transition: all 1s ease;
}
section#welcome-section h2:nth-child(1) {
  font-family: var(--font1);
  font-size: 1.8em;
  transform: translateX(100vw);
}
section#welcome-section h2:nth-child(1).displayed {
  transform: translateX(0vw);
}
section#welcome-section h2:nth-child(2) {
  font-family: var(--font2);
  font-weight: bold;
  font-size: 2em;
  transform: translateX(-100vw);
}
section#welcome-section h2:nth-child(2).displayed {
  transform: translateX(0vw);
}
section#welcome-section h2:nth-child(3) {
  font-family: var(--font3);
  font-size: 1.2em;
  transform: translateX(100vw);
}
section#welcome-section h2:nth-child(3).displayed {
  transform: translateX(0vw);
}

/* Second Section -About me-  */

section#aboutme-section {
  width: 100vw;
  height: auto;
  display: grid;
  place-items: center;
  padding: var(--section-padding);
  /* Background gradient */
  background-color: black;
  background: linear-gradient(
    135deg,
    #090909 40%,
    rgb(15, 15, 15) 65%,
    rgb(16, 16, 16) 70%,
    rgb(17, 17, 17) 75%,
    rgb(18, 18, 18) 77%,
    rgb(33, 33, 33) 100%
  );
  background: -moz-linear-gradient(
    135deg,
    #090909 40%,
    rgb(15, 15, 15) 65%,
    rgb(16, 16, 16) 70%,
    rgb(17, 17, 17) 75%,
    rgb(18, 18, 18) 77%,
    rgb(33, 33, 33) 100%
  );
  background: -webkit-linear-gradient(
    315deg,
    #090909 40%,
    rgb(15, 15, 15) 65%,
    rgb(16, 16, 16) 70%,
    rgb(17, 17, 17) 75%,
    rgb(18, 18, 18) 77%,
    rgb(33, 33, 33) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#111111", endColorstr="#2D2C2C", GradientType=1 );
}

div.aboutme-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

div.aboutme-img-container {
  box-shadow: var(--container-shadow);
  border-radius: var(--rounded-border);
  padding: 5%;
}

div.aboutme-img-container figure img {
  max-width: 100%;
  height: auto;
}
div.aboutme-img-container figure figcaption {
  font-family: var(--font3);
  font-size: 0.5rem;
  text-align: center;
}

/* about me text description */

div.aboutme-text {
  box-shadow: var(--container-shadow);
  border-radius: var(--rounded-border);
  font-family: var(--font3);
  font-size: 1rem;
  text-align: start;
  padding: 4%;
}
div.aboutme-text h3 {
  margin-bottom: 20px;
  font-size: 1.2rem;
  font-family: var(--font2);
  font-weight: bold;
  text-align: center;
}

/* Skills Section */

section.skills {
  width: 100vw;
  height: auto;
  display: grid;
  place-items: center;
  padding: var(--section-padding);
  /* Background gradient */
  background-color: black;
  background: linear-gradient(
    135deg,
    #090909 40%,
    rgb(15, 15, 15) 65%,
    rgb(16, 16, 16) 70%,
    rgb(17, 17, 17) 75%,
    rgb(18, 18, 18) 77%,
    rgb(33, 33, 33) 100%
  );
  background: -moz-linear-gradient(
    135deg,
    #090909 40%,
    rgb(15, 15, 15) 65%,
    rgb(16, 16, 16) 70%,
    rgb(17, 17, 17) 75%,
    rgb(18, 18, 18) 77%,
    rgb(33, 33, 33) 100%
  );
  background: -webkit-linear-gradient(
    405deg,
    #090909 40%,
    rgb(15, 15, 15) 65%,
    rgb(16, 16, 16) 70%,
    rgb(17, 17, 17) 75%,
    rgb(18, 18, 18) 77%,
    rgb(33, 33, 33) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#111111", endColorstr="#2D2C2C", GradientType=1 );
}


div.skill-text{
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.474);
  padding: 5%;
  width: 100%;
  border-radius: var(--rounded-border);
  font-family: var(--font3);
  line-height: 1.2rem
}
div.skill-text h3{
  font-family: var(--font1);
  text-align: center;
  margin: 10px 0px;
}

div.skills-container {
  border-radius: var(--rounded-border);
  width: 100%;
  height: auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.474);
  padding: 5%;
}

div.skill {
  width: 100%;
  height: 16px;
  margin: 8% 0%;
  padding: 3px;
  /*  overflow: hidden; */
  background-color: rgba(0, 0, 0, 0.474);
  border-radius: 10px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25),
    0 1px rgba(255, 255, 255, 0.08);
}

div.skill-progress {
  position: relative;
  background: rgb(107, 154, 196);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#7C65A9", endColorstr="#96D4CA", GradientType=1 );
  height: 100%;
  border-radius: 10px;
  animation: bg-color-changing 1s linear infinite;
  transition: all 3s ease, --num 3s ease;
  counter-set: num var(--num);
  width: 0%;
  --porcentage: "0";
}
div.skill-progress::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(
    90deg,
    transparent 0%,
    rgba(255, 255, 255, 0.4) 25%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0.4) 75%,
    transparent 100%
  );
  z-index: 1;
  background-size: 200% 50%;
  animation: move 1.3s linear infinite;
  border-radius: 20px;
  /* border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px; */
  overflow: hidden;
}
@keyframes move {
  0% {
    background-position: 200% 0%;
  }
  100% {
    background-position: 0 0;
  }
}

@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}


div.skill-progress::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  padding: 2% 5%;
  left: 100%;
  bottom: 100%;
  font-size: 0.8rem;
}
/* porcentage */
div.skill-progress.html::after {
  content: counter(num);
}
div.skill-progress.css::after {
  content: counter(num);
}
div.skill-progress.javaScript::after {
  content: counter(num);
}
div.skill-progress.ReactJS::after {
  content: counter(num);
}


/* animation */
div.skill-progress.html.animated {
  --num:90;
   width: 90%;
}
div.skill-progress.css.animated {
  --num:85;
  width: 85%;
}
div.skill-progress.javaScript.animated {
  --num:65;
  width: 75%;
}
div.skill-progress.ReactJS.animated {
  --num:10;
  width: 10%;
}

span.skill-name {
  font-family: var(--font2);
  font-size: 1.2rem;
}
